# Разработка дашборда для Яндекс.Дзен

**Цель исследования** - Используя данные Яндекс.Дзена, построить дашборд с метриками взаимодействия пользователей с карточками статей

**Задачи исследования - выяснить**: 
- сколько взаимодействий пользователей с карточками происходит в системе с разбивкой по темам карточек;
- как много карточек генерируют источники с разными темами;
- как соотносятся темы карточек и темы источников.

**Для исследования доступна информация из базы данных `zen` .**

**Состав данных**:

- **record_id** — первичный ключ,
- **item_topic** — тема карточки,
- **source_topic** — тема источника,
- **age_segment** — возрастной сегмент,
- **dt** — дата и время,
- **visits** — количество событий.

**Шаги исследования:**

- Подключение к базе данных
- Выгрузка необходимой информации
- Разработка и публикация дашборда
- Выводы

## Техническое задание

- **Бизнес-задача**: анализ взаимодействия пользователей с карточками Яндекс.Дзен;
- **Насколько часто предполагается пользоваться дашбордом**: не реже, чем раз в неделю;
- **Кто будет основным пользователем дашборда**: менеджеры по анализу контента;
- **Состав данных для дашборда:**
    - ***История событий по темам карточек (два графика - абсолютные числа и процентное соотношение);***
    - ***Разбивка событий по темам источников;***
    - ***Таблица соответствия тем источников темам карточек;***
- **По каким параметрам данные должны группироваться:**
    - *Дата и время;*
    - Тема карточки;
    - Тема источника;
    - Возрастная группа;
- **Характер данных:**
    - ***История событий по темам карточек — абсолютные величины с разбивкой по минутам;***
    - ***Разбивка событий по темам источников — относительные величины (% событий);***
    - ***Соответствия тем источников темам карточек - абсолютные величины;***
- **Важность**: все графики имеют равную важность

## Подключение к базе данных

In [9]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

# создаем подключение
db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string)

## Выгрузка данных

In [2]:
query = '''
        SELECT * FROM dash_visits
        '''

In [3]:
data_raw = pd.io.sql.read_sql(query, con = engine)

In [4]:
data_raw.head()

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27

In [5]:
data_raw.to_csv('dash_visits.csv', index=False)

## Разработка и публикация дашборда

Разработанный в соответствии с техническим заданием дашборд представлен по ссылке: https://public.tableau.com/app/profile/alex4377/viz/ProjectDzen_16702638210760/MyDashboard?publish=yes

## Выводы

- Больше всего пользователям интересны категории «Наука», «Отношения» и «Интересные факты»

- Наименьший интерес вызывают категории «Знаменитости», «Шоу» и «Женская психология»

- Больше всего карточек генерируют источники «Знаменитости», «Полезные советы» и «Семейные отношения»

- Наиболее популярные «связки» темы источника и темы карточки: «Путешествия – Рассказы», «Россия – Общество» и «Кино – Наука»